<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
        <title th:text="#{email.invitation.title}">Title</title>
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.invitation.greeting(${userGuest.login})}">
            Dear
        </p>
        <p th:text="#{email.invitation.text1(${userHost.login},${booking.title},${day},${startAt},${finishAt},${booking.roomId})}">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <p>
                <a th:with="url=(@{|${baseUrl}/attending?isAttending=true&userLogin=${userGuest.login}|})" th:href="${url}" target="_blank" th:text="Accepter">Accepter</a>
                <a th:with="url=(@{|${baseUrl}/attending?isAttending=false&userLogin=${userGuest.login}|})" th:href="${url}" target="_blank" th:text="Refuser">Refuser</a>
        </p>
        <p>
            <span th:text="#{email.invitation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
